.links-2{
    /* background-color: aliceblue; */
    height: 70px;
    margin: 0;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.links-2 button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: solid 1px red;
}

.links-2 h2{
    color: #fff;
}
.img-home{
    height: 20px;
}
@media (max-width: 767px){
    .links-2 h2{
        font-size: medium;
    }
}