.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-top: 120px;
    color: #fff;
}
.container-home{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.container-home h1{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.lista-filmes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.lista-filmes article{
    width: auto;
    padding: 0px 2px;
}
.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 20px;
    display: block;
    color: #fff;
}
.lista-filmes img{
    width: 250px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
}
.lista-filmes img:hover{
   border: 3px solid #fff;
}
.links{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    
}
.links button{
    cursor: pointer;
    margin: 0 30px;
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 10px;
    border: solid 2px #fff;
}
.links button:hover{
    border: solid 3px #fff;
}
button a{
    text-decoration: none;
    color: #fff;
}
.pg-color{
    background-color: #cc0000 !important;
   
}