.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-top: 120px;
    color: #fff;
}
.container-home{
    width: 100%;
    height: auto;
    margin-top: 100px;
}
.container-home h1{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.lista-filmes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.lista-filmes article{
    width: auto;
    padding: 0px 2px;
}
.lista-filmes strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 20px;
    display: block;
    color: #fff;
}
.lista-filmes img{
    width: 250px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
}
.lista-filmes img:hover{
    transform: scale(1.2);
}